# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# stonecutter
versions/*/src
versions/*/build

# secrets
local.properties

# other
eclipse
run
runs
run-data

repo
net/
.vscode/launch.json
